.basic-shape-container {
	z-index: 1;
	bottom: 20px;
	border-radius: 10px;
	padding: 5px;
	display: flex;
	gap: 10px;
	background-color: rgb(255, 255, 255);
	box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.basic-shape-container.left {
	position: absolute;
	left: 20px;
}

.basic-shape-container.middle {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

.basic-shape-container.right {
	position: absolute;
	right: 20px;
}

.basic-shape {
	padding: 7px 12px;
	border-radius: 10px;
	transition: 0.1s;
}

.basic-shape:hover {
	background-color: rgb(0, 0, 0, 0.1);
}

.basic-shape.active {
	background-color: rgb(238, 130, 238, 0.4);
	color: rgb(126, 0, 126);
}
