.leftPane-container {
	position: absolute;
	display: flex;
	flex-direction: column;
	top: 0;
	height: 81%;
	z-index: 1;
	border-radius: 0px 0px 15px 0px;
	width: 30%;
	background-color: white;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	padding: 20px;
	transition: 1s;
	translate: translateX(0);
}

.list-icon-opened {
	align-self: flex-end;
	cursor: pointer;
	padding: 10px 10px;
	border-radius: 10px;
	transition: 0.1s;
}

.list-icon-opened:hover {
	background-color: rgb(0, 0, 0, 0.1);
}

.leftPane {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 90%;
	overflow: auto;
}

.input-label {
	font-size: 15px;
	color: black;
}

.input-text {
	border: 1px solid #ccc;
	border-radius: 10px;
	padding: 10px;
	outline: none;
}
